<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="text">
      Contact Bozzuto about Bozzuto&#039;s SmartRent Program
    </div>
  </div>
</div>

<section class="content">
  <p>At Bozzuto, we’re here to help. So feel free to raise any questions or concerns and we’ll do our best to address them as quickly as possible.</p>
  <form action="" id="theForm" method="post" name="theForm">
    <div class="contactForm">
      <label class="label">Name*</label>

      <div class="form-group">
        <input class='form-control' name="q7240_Answer" type="text" value="">
      </div><label class="label">Email*</label>

      <div class="form-group">
        <input class='form-control' name="q7241_Answer" type="text" value="">
      </div><label class="field">Message*</label>

      <div class="form-group">
        <textarea class='form-control' name="q7243_Answer">
</textarea>
      </div>
    </div><input class="btn btn-primary btn-lg btn-submit" name="Submit" type="submit" value="Submit">
  </form>

  <div class="emailUpdates">
    <a href="http://www.bozzuto.com/bozzuto-buzz" target="_blank">For more updates on Bozzuto sign up for our Bozzuto Buzz</a>
  </div>

  <div class="phoneNumber">
    Phone: (877) 584-2249
  </div>
</section>
