<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="images clearfix">
      <div class="left">
        <%= image_tag "LEFT-SmartRent-Rules-252x380.jpg"%>
      </div>
      <div class="right"><%= image_tag "RightSmartRentRules_880x380_V2.jpg"%></div>
    </div>
  </div>
</div>

<div class="faq">

  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          How do I know if my community participates in SmartRent?
        </p>
      </div>
      <div class="answer">
        <p>
           You can also go to <%= link_to "Find a SmartRent Apartment", find_apartments_path %> at any time to find the list of participating communities, or feel free to check with your Property Manager.  If a community is Bozzuto owned (or the owner has opted in) and is located in the DMV area, it will be a part of the SmartRent program.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          What is the monthly accrual, cap, and time limit for SmartRent?
        </p>
      </div>
      <div class="answer">
        <p>
          Each participating resident accrues $350/month, with a $10,000 maximum for a home purchased within 24 months of living in a Bozzuto residence.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          Can I use a realtor in a Bozzuto home SmartRent purchase?
        </p>
      </div>
      <div class="answer">
        <p>
         Yes. However, if you chose to use your realtor, your Smart Rent credits will be reduced by 50%.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          How do I check my SmartRent balance?
        </p>
      </div>
      <div class="answer">
        <p>
         After you activate their accounts with the e-mail address used on your lease (under the primary leaseholder), you may access your account statement 24/7 at <%= link_to root_url, root_url %>. You will also receive a monthly SmartRent statement via e-mail.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          Can SmartRent be used in conjunction with other sales incentives?
        </p>
      </div>
      <div class="answer">
        <p>
         SmartRent funds can be used towards closing costs to reduce total out of pocket expense. They cannot replace the required earnest money deposit funds or interim deposits due during the purchase process.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          How long do my credits last for?
        </p>
      </div>
      <div class="answer">
        <p>
         SmartRent credits are available for up to 24 months after a resident moves out of a Bozzuto property.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          Can I use my SmartRent funds at any Bozzuto Homes community?
        </p>
      </div>
      <div class="answer">
        <p>
         Yes. However, SmartRent funds cannot be used with the purchase of a moderately priced home (MPDU) as provided through various county programs. Some communities (Uplands in Baltimore, MD) will allow a 50% SmartRent credit usage due to the partnership with Baltimore City which lowers purchase prices.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          If I choose not to buy a Bozzuto Home, am I able to get the credit in cash to use towards buying a home from a different builder?
        </p>
      </div>
      <div class="answer">
        <p>
         No, these credits are not equal to cash and may only be used towards a Bozzuto Home purchase.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="q">
      Q:
    </div>
    <div class="qa">
      <div class="question">
        <p>
          Who can I contact with more questions?
        </p>
      </div>
      <div class="answer">
        <p>
         If you have any further questions, please contact Mary Smith at <a href="mailto:mary.smith@bozzuto.com">mary.smith@bozzuto.com</a>
        </p>
      </div>
    </div>
  </div>

</div>

<div class="disclaimer">
  <p>
    * Program may vary by community. Program rules and eligibility requirements are subject to change without notice.
    By registering in the SmartRent program, you agree to receive notifications and promotions from Bozzuto Homes.
  </p>
</div>
