<%= render layout: "apartments_layout" do %>
  <div class="propDetails clearfix">
    <div class="propPhoto">
      <%= image_tag "460NewYorkAvenue.jpg" %>
      <div>
        New Condos Coming Soon
      </div>
    </div>

    <div class="details">
      <h1>460 New York Avenue</h1>

      <div class="address">
        460 New York Avenue, NW, Washington, DC
      </div>

      <div class="links">
        <%= link_to "Visit the Website", "http://www.bozzuto.com/new-homes/communities/323-460-new-york-avenue", :target => "_blank" %>
      </div>

      <div class="desc">
        <p>With its metal and glass tower rising above a preserved historic warehouse, 460 New York Avenue is worlds above common urban condos. This boutique community puts you right in the heart of the city, with your fingers on the pulse of modern style and convenience. Our location within the vibrant Mt. Vernon Triangle is ideally situated across from the shops and restaurants of City Vista. Two Metro stops are also within walking distance, ready to whisk you to whatever destination you desire.</p>

        <p>Inside 460 New York Avenue, your chic condominium is just as desirable a destination, enriched by beautiful European-styled finishes, enhanced by the natural light that streams through windows that are six feet tall. Hardwood floors, stainless appliances, contemporary quartz countertops – nothing has been overlooked in creating these modern urban masterworks. Even the environment has been considered, and assured by ENERGY STAR® certification. In every way, 460 New York Avenue is truly the place to be.</p>
      </div>
    </div>
  </div>
<% end%>
