<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="text no-transform">
      Bozzuto SmartRent Program Official Rules
    </div>
  </div>
</div>

<section class="content">
  <p>1. SmartRent is Bozzuto’s program that gives you the opportunity to earn credit for the time you rent at <%= link_to "participating SmartRent apartments", find_apartments_path, :target => "_blank" %>. It offers a great opportunity to build up funds towards the purchase of a new <%= link_to "Bozzuto Home", find_a_new_home_path, :target => "_blank" %>. SmartRent funds are credited to you at the time of settlement and can be applied towards closing costs. They do not replace the required earnest money deposit funds at time of contract or interim deposits due during the purchase process. Please consult the Community Sales Manager at the new Bozzuto Homes community of your choice for details.</p>

  <p>2. When you sign a lease at a participating SmartRent property, you will automatically be enrolled in the SmartRent program and will start earning SmartRent credits immediately. (If you don&#8217;t wish to participate, please notify the leasing consultant.)</p>

  <p>3. Once you&#8217;re registered in the program and your account is active, the credits you accumulate will appear in your SmartRent account. You can log in to www.bozzuto.com/smartrent at any time to see how many credits you&#8217;ve accrued.</p>

  <p>4. If you choose to use a realtor, your SmartRent credits will be reduced by 50%. Please check with the Community Sales Manager at the new Bozzuto Homes community of your choice for details.</p>

  <p>5. Once you become eligible to use your SmartRent credits and have a valid contract on a new Bozzuto home, please notify the Property Manager where you live. Your Bozzuto rental lease will continue to be in effect per the existing terms. However, your SmartRent credits may be used towards lease break or other incurred fees resulting from your lease agreement. Please note that SmartRent credits are not redeemable until you close on your new Bozzuto home.</p>

  <p>6. Program rules and eligibility requirements are subject to change without notice. By registering in the SmartRent program, you agree to receive notifications and promotions from Bozzuto Homes. SmartRent funds cannot be used with the purchase of a moderately priced home (MPDU or MIHU) as provided through various county programs. We can only allow one SmartRent participant per lease.</p>

  <p>7. If your participating SmartRent community is sold or changes management, Bozzuto Homes will honor the SmartRent credits you have accrued for any purchase within 24 months of the management or ownership change.</p>
</section>
