<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="text">
      Website Disclaimer | Bozzuto | The SmartRent Program by Bozzuto
    </div>
  </div>
</div>

<section class="content">
  <p>The materials provided on this server are intended for informational purposes only and are not intended to constitute an offer or solicitation. Despite the efforts of Bozzuto to provide accurate information, it is not possible to ensure that all information is constantly correct. The materials contained on this server could include technical inaccuracies or typographical errors. Bozzuto assumes no responsibility for any actions taken as a result of using this server, or for errors or omissions in the materials on this server.</p>
</section>
