<% content_for(:ui_center) do %>
  <div class="main">
    <h3><%= link_to @home.title, admin_home_path(@home) %> &gt; New More home</h3>
    <hr/>
    <%= render 'form' %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>