<% content_for(:ui_center) do %>
  <div class="main">
    
    <%= link_to '<< Back', admin_features_path, :class => "btn btn-default back" %>
    <% if current_user.is_admin? %>
      <%= link_to 'Edit', edit_admin_feature_path(@feature), :class => "btn btn-default" %>
    <% end %>
    
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>