<% content_for(:ui_center) do %>
  <div class="main">
    <h3><%= link_to @property.name, admin_property_path(@property) %> &gt; New Property Floor Plan</h3>
    <hr/>
    <%= render 'form' %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>