<div class="member clearfix">
  <div class="memberLeft">
    <%= image_tag "login.jpg" %>
  </div>
  <div class="memberRight">
    <div class="forgotForm clearfix">
      <%= render partial: "password_create_form" %>
    </div>
  </div>
</div>
