<div class="member clearfix">
  <div class="memberLeft">
    <%= image_tag "login.jpg" %>
  </div>

  <div class="memberRight">
    <div class="forgotForm clearfix">
      <p>Congratulations your email has been verified. Please set your password to continue.</p>
      <%= render partial: "password_create_form" %>
    </div>
  </div>
</div>
