<%= form_for(@contact) do |f| %>
  <%= render "layouts/error_messages_subtle", :target => @contact, :header_message => "Message sending failed" %>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Cancel', contacts_path, :class => "btn btn-default" %>
  </div>
<% end %>
