<%= form_for(@contact) do |f| %>
  <%= render "layouts/error_messages", :target => @contact, :header_message => "Message sending failed" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
