<%= form_tag import_admin_rewards_path, :multipart => true, :class => "form-horizontal" do %>
  <fieldset>
    <legend>Import residents from a CSV file</legend>
    <div class="form-group">
      <%= label_tag :file, nil, class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= file_field_tag :file, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <%= submit_tag "Import", :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
