<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="images clearfix">
      <div class="left">
        <%= image_tag "LEFT-Apartments-252x380.jpg" %>
      </div>
      <div class="right">
        <%= image_tag "RIGHT-Apartments-880x380-2.jpg" %>
      </div>
    </div>
  </div>
  <%= yield %>
</div>
