<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="images clearfix">
      <div class="left"><%= image_tag "newHomeLeft.jpg" %></div>

      <div class="right"><%= image_tag "newHome.jpg" %></div>
    </div>
  </div>
</div>
<%= yield %>
