<%= render layout: "layout" do %>
<section class="wrapper clearfix">
  <%= render partial: "filters"%>
  <div id="contactRight">
    <p>Earn SmartRent credits while leasing one of these properties.</p>

    <div class="toggle clearfix">
      <div class="item search-property-item listOn" id="listResults">
        <div class="text">
          View as List
        </div>
      </div>

      <div class="item search-property-item mapOff" id="mapResults">
        <div class="text">
          View on Map
        </div>
      </div>
    </div>
    <div class="locations" id="locationsBox">
      <div class="listing-results">
        <%= render partial: "search_results" %>
      </div>
    </div>
    <div id="map" class="results map-results"></div>
  </div>
</section>
<% end %>
