<footer class="footer clearfix">
  <div class="fixedWidth">
    <div class="copyright">
      &copy; 2012 <%= link_to "Bozzuto", smartrent.root_url, :target => "_blank"%>
    </div>

    <div class="menu">
      <ul id="menu-footer-menu">
        <li>
          <%= link_to "Privacy Policy", smartrent.privacy_policy_path %>
        </li>

        <li>
          <%= link_to "Website Disclaimer", smartrent.website_disclaimer_path %>
        </li>
      </ul>
    </div>

    <div class="logos">
      <%= image_tag "footerLogos.gif", :alt => "Handicap and Equal Opportunity Housing Logos" %>
    </div>
  </div>
</footer>
