<footer class="footer clearfix">
  <div class="fixedWidth">
    <div class="copyright">
      &copy; 2012 <a href="http://www.bozzuto.com/" target="_blank">Bozzuto</a>
    </div>

    <div class="menu">
      <ul id="menu-footer-menu">
        <li>
          <a href="http://www.bozzutosmartrent.com/privacy-policy/">Privacy
          Policy</a>
        </li>

        <li>
          <a href=
          "http://www.bozzutosmartrent.com/website-disclaimer/">Website
          Disclaimer</a>
        </li>
      </ul>
    </div>

    <div class="logos">
      <%= image_tag "footerLogos.gif", :alt => "Handicap and Equal Opportunity Housing Logos" %>
    </div>
  </div>
</footer>

<div id="window-resizer-tooltip">
  <a href=
  "http://nagalskiy-evgeniy.com/chermash-igor/bozzuto/bozzutosmartrent-wip/home.html#"
  title="Edit settings"></a><span class="tooltipTitle">Window size:</span>
  <span class="tooltipWidth" id="winWidth"></span> x <span class=
  "tooltipHeight" id="winHeight"></span><br>
  <span class="tooltipTitle">Viewport size:</span> <span class="tooltipWidth"
  id="vpWidth"></span> x <span class="tooltipHeight" id="vpHeight"></span>
</div>
