<!DOCTYPE html>
<html>
<head>
  <title>Smartrent</title>
  <%= stylesheet_link_tag    "smartrent/application", media: "all" %>
  <%= javascript_include_tag "smartrent/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
