<%= form_for([:admin, @resident], html: {:class => "form-horizontal change-password-form", :remote => true}) do |f| %>
  <div class="form-group">
    <div class="col-md-11">
      <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-11">
      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-7">
    <%= f.submit "Change Password", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
