<html>
  <head>
    <title> Your password has been changed </title>
  </head>
  <body>
    <p>Hi <%= @resident.first_name %>,</p>
    <p>We wanted to let you know that your password was changed.</p>
  </body>
</html>