<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="images clearfix">
      <div class="left">
        <%= image_tag "apartmentsleft.jpg" %>
      </div>
      <div class="right">
        <%= image_tag "apartments.jpg" %>
      </div>
    </div>
  </div>
  <%= yield %>
</div>
