<% content_for(:ui_center) do %>
  <div class="main">
    <h3>Editing Property</h3>
    <hr/>
    <%= render 'form' %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>